<mat-card class="task-card">
  <div>
    <mat-card-content>Task #1</mat-card-content>
    <mat-card-content class="card-date">Date</mat-card-content>
    <mat-card-content class="card-priority">Priority </mat-card-content>
    <mat-card-content>Label</mat-card-content>
  </div>
  <div>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</mat-card>
