<mat-card class="task-card">
  <div class="checkbox-task">
    <mat-checkbox></mat-checkbox>

    <div class="card-content">
      <div class="f-row">
        <p class="card-desc">{{task.description}}</p>
        <p class="card-date">{{task.limitDate}}</p>
      </div>
      <p class="card-priority">{{priority}} </p>
      <p>{{task.label}}</p>
    </div>
  </div>
    <div>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</mat-card>
