.task-card
  border-left: 4px solid red
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center


.card-date
  background-color: #cacaca
  padding: 8px
  width: fit-content
  margin-left: 16px
