<mat-card class="task-card">
  <div class="checkbox-task">
    <mat-checkbox [(ngModel)]="task.isActive" color="primary" (click)="sendTask()"></mat-checkbox>

    <div class="card-content">
      <div class="f-row">
        <p class="card-desc">{{task.description}}</p>
        <p class="card-date">{{task.limitDate}}</p>
      </div>
      <p class="card-priority">{{priority}} </p>
      <p>{{task.label}}</p>
    </div>
  </div>
    <div>
    <button (click)="emitEdit()" mat-icon-button aria-label="Pencil">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="emitDeletion()" mat-icon-button aria-label="Trash">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</mat-card>
