.task-card
  border-left: 4px solid red
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-bottom: 16px

  .card-content
    padding: 12px
    display: flex
    gap: 8px
    flex-direction: column

    p
      margin: 0

    .f-row
      display: flex
      align-items: center
      gap: 16px

  .card-date
      background-color: #cacaca
      padding: 8px
      width: fit-content
      margin-left: 16px
      border-radius: 8px

  .card-desc
    font-size: 20px


.checkbox-task
  display: flex
  align-items: center
  justify-content: center
  gap: 12px
  margin: 0 0 0 12px



