.login-container
  width: 100vw
  height: 100vh
  display: flex

.login-container .login-bg
  background-color: #99edcd
  height: 100%
  width: 50%

.login-container .login-form
  background-color: #fafafa
  display: flex
  align-items: center
  justify-content: center
  width: 50%

.login-container .login-form .form-container
  display: flex
  flex-direction: column
  justify-content: center
  min-width: 80%

.login-button
  height: 48px
  margin-bottom: 12px

h1
  color: #b05043
