<div class="login-container">
  <div class="login-bg">

  </div>
  <div class="login-form">
    <form class="form-container" (ngSubmit)="login()">
      <h1>Bem vindo ao seu Task Manager</h1>
      <app-todo-input [input]="emailInput" (valueChange)="onEmailInputChange($event)" class="flex"></app-todo-input>
      <app-todo-password (valueChange)="onPasswordInputChange($event)" class="flex"></app-todo-password>
      <span *ngIf="error" class="auth-error">{{error}}</span>
      <button mat-raised-button color="primary" class="login-button" type="submit">Entrar</button>
      <button mat-button color="primary">Esqueceu sua senha?</button>
      <button mat-button color="error" class="create-button">Ainda não tem uma conta? Crie seu usuário</button>
    </form>
  </div>
</div>
