<div class="login-container">
  <div class="login-bg">

  </div>
  <div class="login-form">
    <div class="form-container">
      <h1>Bem vindo ao seu Task Manager</h1>
      <app-todo-input class="flex"></app-todo-input>
      <app-todo-password class="flex"></app-todo-password>
      <button mat-raised-button color="primary" class="login-button" routerLink="/home">Entrar</button>
      <button mat-button color="primary">Esqueceu sua senha?</button>
      <button mat-button color="accent">Criar usuário</button>
    </div>
  </div>
</div>
