.container
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #fafafa

.container .nav-container
  background-color: #673ab7
  width: 20%
  padding: 20px
  color: #FFF
  display: flex
  height: 100%

.container .main-content
  padding: 20px

